.register{
    height: 60vh;
    width:  300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
  }
  
  .logo {
    display: inline-block;
    margin-right: 8px;
    color: #a5d8ff;
    padding: 0 10px;
    
  }
  

  .cover-img {
    width: 80%;
    height: 100%;
  }
